.note-list li {
  background-color: #22313F;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.note-list .list-group-item {
  word-break: break-word;
}

.MuiIconButton-root {
  color: #fff !important;
}