.note-list {
    text-decoration: none;
    list-style-type: none;
  }
  
  .note-list li {
    background-color: #fff;
    color: #22313F;
  }
  
  .note-list li:hover {
    border-color: #fff;
  }
  
  .note-list li:hover:after {
    font-family: "Glyphicons Halflings";
    content: "\e020";
    float:right;
    clear: both;
    color: #22313F;
    font-weight: bold;
  }

  .note-list .list-group-item {
    word-break: break-word;
  }