/* Basic Elements CSS Begins */
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #22313F;
  color: #ECEFF1;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-weight: 700;
  /* text-transform: uppercase; */
}

p,
label {
  font-size: 1.8rem;
}

a {
  color: #f8f8f8;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.section .row {
  justify-content: center;
}

hr {
  border-top: 1px solid #F2F3F4;
}

/* Basic Elements CSS Ends */


/* Buttons CSS Ends */

input, textarea {
  background: #fff;
  border-collapse: #fff;
  color: #000;
}